:root{
    --green:#266041
}


.custom-navbar{
    background-color: var(--green);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    height:5rem;
    display:flex;
}   

.item-logo img{
    height:75px;
    padding-left:4rem;
    padding-top:.5rem;  
}

a.item-logo{
    text-decoration: none;
}

.item-logo span{
    font-size: 25px;
    font-family: 'Arial', sans-serif; 
}

.form-inline .form-control {
    width: 500px;
    border-radius: 50px;
}

.form-inline .btn {
    border-radius: 50px;
    margin-left: -45px; /* Để nút search nằm đè lên phần cuối của input */
    background-color: #fff;
    color: #2C6E49;
}









