    <nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
    <div class="container-fluid">
         <a class="navbar-brand item-logo" href="/">
                <img src="/img/logo.png" alt="Logo">
                <span>sayfety quality</span>
            </a>
    <form class="form-inline mx-auto search-form" action="" method="GET">
        <input class="form-control search-input" type="search" placeholder="Tìm Kiếm" aria-label="Search" name="query">
        <button class="btn btn-outline-light search-button" type="submit">
            <i class="fas fa-search"></i>
        </button>
    </form>

        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i> Chào Tấn
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Tài khoản của tôi</a>
                    <a class="dropdown-item" href="/me/stored/courses">Khóa Học Của Tôi</a>
                    <a class="dropdown-item" href="/courses/create">Đăng Khóa Học</a>
                    <a class="dropdown-item" href="#">Đăng xuất</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-store"></i> Hệ thống cửa hàng
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-phone"></i> Hỗ trợ khách hàng
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="badge badge-pill badge-danger">1</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
    
    
    
    
    
    
   